# TractorTek Table Integerity Checks

The first section is installing necessary packages and creating the connection to mysql tables.

In [1]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\octav\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [3]:
db_connection_str = 'mysql+pymysql://root:4242@localhost/tractortek'
db_connection = create_engine(db_connection_str)

In [4]:
df_products= pd.read_sql('SELECT * FROM products', con=db_connection)

# The Weekly Table Integrity

In [5]:
weekly_tab= pd.read_sql('SELECT * FROM weekly__sales', con=db_connection)

In [6]:
df_weekly = pd.DataFrame(weekly_tab)

In [7]:
print("This shows the integrity of the columns and the amount of data in each.\n",
      df_weekly.count())

This shows the integrity of the columns and the amount of data in each.
 sales_id         4
emp_id           4
prod_code        4
prod_quantity    4
warr_code        4
warr_quantity    4
current_week     4
current_year     4
dtype: int64

In [8]:
print("A brief overview of the weekly table. \n", df_weekly.describe())

A brief overview of the weekly table.
         sales_id  prod_quantity  warr_quantity  current_week  current_year
count   4.000000       4.000000       4.000000           4.0           4.0
mean   23.500000      13.000000      12.500000           1.5        2021.0
std     1.290994      10.801234       9.469248           1.0           0.0
min    22.000000       1.000000       5.000000           1.0        2021.0
25%    22.750000       7.750000       6.500000           1.0        2021.0
50%    23.500000      12.000000       9.500000           1.0        2021.0
75%    24.250000      17.250000      15.500000           1.5        2021.0
max    25.000000      27.000000      26.000000           3.0        2021.0

In [27]:
print("Easy way to see the latest updates on the weekly table. \n", df_weekly.tail(1))

Easy way to see the latest updates on the weekly table.
    sales_id  emp_id prod_code  prod_quantity warr_code  warr_quantity  \
2        24  EMP267  PROD_002             14   ESP_002             12

   current_week  current_year
2             1          2021

# Tractor Table Integrity

In [28]:
df_tractor= pd.read_sql('SELECT * FROM tractor_profits', con=db_connection)

In [29]:
print("This shows the integrity of the columns and the amount of data in each.\n",
      df_tractor.count())

This shows the integrity of the columns and the amount of data in each.
 sale_id              80
prod_code            80
prod_name            80
emp_id               80
year_sales           80
yearly_prod_sales    80
Quarter1             80
Quarter2             80
Quarter3             80
Quarter4             80
2019Q1               80
2019Q2               80
2019Q3               80
2019Q4               80
2020Q1               80
2020Q2               80
2020Q3               80
2020Q4               80
dtype: int64

In [30]:
print("A brief overview of the weekly table. \n", df_tractor.describe())

A brief overview of the weekly table.
        sale_id   year_sales  yearly_prod_sales    Quarter1    Quarter2  \
count  80.0000    80.000000          80.000000   80.000000   80.000000
mean   40.5000  2019.500000        1243.075000  335.087500  344.762500
std    23.2379     0.503155         518.109069  148.330472  135.295948
min     1.0000  2019.000000         487.000000  121.000000  120.000000
25%    20.7500  2019.000000         682.000000  174.750000  211.000000
50%    40.5000  2019.500000        1454.000000  409.500000  395.500000
75%    60.2500  2020.000000        1694.750000  472.250000  464.000000
max    80.0000  2020.000000        2220.000000  526.000000  697.000000

         Quarter3    Quarter4
count   80.000000   80.000000
mean   269.462500  337.800000
std    118.161651  136.646305
min    100.000000  128.000000
25%    151.250000  204.000000
50%    303.500000  403.500000
75%    378.000000  451.750000
max    454.000000  654.000000

# ESP Profits

In [31]:
df_esp= pd.read_sql('SELECT * FROM esp_profits', con=db_connection)

In [32]:
print("This shows the integrity of the columns and the amount of data in each.\n",
      df_esp.count())

This shows the integrity of the columns and the amount of data in each.
 prod_name                 80
service_plan              80
warranty_price            80
EMP_ID                    80
year_sales                80
yearly_prod_sales         80
warranty_yearly_profit    80
dtype: int64

In [33]:
print("A brief overview of the weekly table. \n", df_esp.describe())

A brief overview of the weekly table.
        warranty_price   year_sales  yearly_prod_sales  warranty_yearly_profit
count       80.000000    80.000000          80.000000               80.000000
mean       824.000000  2019.500000         195.037500           151813.775000
std        185.224462     0.503155         148.988356           109554.352309
min        372.000000  2019.000000           5.000000             4215.000000
25%        843.000000  2019.000000          78.000000            56600.750000
50%        843.000000  2019.500000         166.000000           124764.000000
75%        876.750000  2020.000000         294.000000           229170.000000
max       1027.000000  2020.000000         600.000000           472080.000000